<?php

//----default Controller name and default request method name
$defaultRequestController='login';
$defaultRequestMethod='index';

//-----if framework works under debug mode
$debug=true;


//----application's time_zone  
$time_zone='Australia/South';

$default_url_rewrite_ext='html';
$url_rewrite=true;
$url_rewrite_directory_name='content';

?>